<div class="app" id="app">
  <div class="workspace">
    <div class="editor-window window" id="editor-window">
      <div class="window-top" id="editor-window-top"></div>

      <textarea class="window-content" id="editor"></textarea>

      <div class="window-resizer"></div>
    </div>

    <div class="preview-window window" id="preview-window">
      <div class="window-top" id="preview-window-top"></div>

      <div id="preview" class="window-content">
        preview
      </div>

      <div class="window-resizer"></div>
    </div>
  </div>

  <nav class="workspace-menu"></nav>
</div>
